:root,
.light {
  color-scheme: light;

  --background: #ffffff;
  --foreground: #0a0a0a;
  --primary: #171717;
  --primary-hover: #2e2e2e;
  --primary-active: #747474;
  --primary-foreground: #fafafa;
  --secondary: #ffffff;
  --secondary-hover: #f5f5f5;
  --secondary-active: #ffffff;
  --secondary-foreground: #262626;
  --muted: #e0e0e0;
  --muted-foreground: #737373;
  --border: #e5e5e5;
  --input: #737373;
  --sidebar-background: #f3f3f3;
  --danger-background: #ffd9d9;
  --danger: #ef4444;
  --warning-background: #feecc5;
  --warning: #f59e0b;
  --success-background: #dbffe7;
  --success: #22c55e;
}

.dark {
  color-scheme: dark;

  --background: #0a0a0a;
  --foreground: #fafafa;
  --primary: #fafafa;
  --primary-hover: #cfcfcf;
  --primary-active: #8d8d8d;
  --primary-foreground: #171717;
  --secondary: #151515;
  --secondary-hover: #1c1c1c;
  --secondary-active: #111111;
  --secondary-foreground: #d4d4d4;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --border: #373737;
  --input: #a1a1a1;
  --sidebar-background: #171717;
  --danger-background: #2d1b1b;
  --danger: #ef4444;
  --warning-background: #2d2416;
  --warning: #f59e0b;
  --success-background: #1a2e1f;
  --success: #22c55e;
}
