@use 'sass:color';

:root,
.light {
  --background: #ffffff;
  --foreground: #0a0a0a;
  --primary: #171717;
  --primary-hover: #272727;
  --primary-foreground: #fafafa;
  --secondary: #ffffff;
  --secondary-hover: #fafafa;
  --secondary-foreground: #171717;
  --muted: #e0e0e0;
  --muted-foreground: #737373;
  --border: #e5e5e5;
  --input: #acacac;
  --sidebar-background: #f3f3f3;
  --danger-background: #ffd9d9;
  --danger: #e55353;
  --warning-background: #feecc5;
  --warning: #f9b115;
  --success-background: #dbffe7;
  --success: #1b9e3e;
}

.dark {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --primary: #fafafa;
  --primary-hover: #f4f4f4;
  --primary-foreground: #171717;
  --secondary: #0a0a0a;
  --secondary-hover: #171717;
  --secondary-foreground: #fafafa;
  --muted: #262626;
  --muted-foreground: #a1a1a1;
  --border: #232323;
  --input: #636363;
  --sidebar-background: #171717;
  --danger-background: #402d2d;
  --danger: #de5a5a;
  --warning-background: #403828;
  --warning: #eead20;
  --success-background: #2d4033;
  --success: #229741;
}

// OLD

$interval: 10%;

$red: hsl(354, 62%, 53%);
$green: hsl(134, 61%, 40%);
$blue: hsl(211, 80%, 50%);
$yellow: hsl(45, 76%, 52%);

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$grey: hsl(0, 0%, 50%);
$light-grey-1: hsl(0, 0%, 90%);
$light-grey-2: hsl(0, 0%, 80%);
$light-grey-3: hsl(0, 0%, 70%);
$light-grey-4: hsl(0, 0%, 60%);
$dark-grey-1: hsl(0, 0%, 4%);
$dark-grey-2: hsl(0, 0%, 8%);
$dark-grey-3: hsl(0, 0%, 12%);
$dark-grey-4: hsl(0, 0%, 16%);
$dark-grey-5: hsl(0, 0%, 20%);
$dark-grey-6: hsl(0, 0%, 24%);
$dark-grey-7: hsl(0, 0%, 28%);
$dark-grey-8: hsl(0, 0%, 32%);

$red-light-1: color.adjust($red, $lightness: $interval * 1);
$red-light-2: color.adjust($red, $lightness: $interval * 2);
$red-light-3: color.adjust($red, $lightness: $interval * 3);
$red-light-4: color.adjust($red, $lightness: $interval * 4);
$red-dark-1: color.adjust($red, $lightness: -($interval * 1));
$red-dark-2: color.adjust($red, $lightness: -($interval * 2));
$red-dark-3: color.adjust($red, $lightness: -($interval * 3));
$red-dark-4: color.adjust($red, $lightness: -($interval * 4));

$green-light-1: color.adjust($green, $lightness: $interval * 1);
$green-light-2: color.adjust($green, $lightness: $interval * 2);
$green-light-3: color.adjust($green, $lightness: $interval * 3);
$green-light-4: color.adjust($green, $lightness: $interval * 4);
$green-dark-1: color.adjust($green, $lightness: -($interval * 1));
$green-dark-2: color.adjust($green, $lightness: -($interval * 2));
$green-dark-3: color.adjust($green, $lightness: -($interval * 3));
$green-dark-4: color.adjust($green, $lightness: -($interval * 4));

$blue-light-1: color.adjust($blue, $lightness: $interval * 1);
$blue-light-2: color.adjust($blue, $lightness: $interval * 2);
$blue-light-3: color.adjust($blue, $lightness: $interval * 3);
$blue-light-4: color.adjust($blue, $lightness: $interval * 4);
$blue-dark-1: color.adjust($blue, $lightness: -($interval * 1));
$blue-dark-2: color.adjust($blue, $lightness: -($interval * 2));
$blue-dark-3: color.adjust($blue, $lightness: -($interval * 3));
$blue-dark-4: color.adjust($blue, $lightness: -($interval * 4));

$yellow-light-1: color.adjust($yellow, $lightness: $interval * 1);
$yellow-light-2: color.adjust($yellow, $lightness: $interval * 2);
$yellow-light-3: color.adjust($yellow, $lightness: $interval * 3);
$yellow-light-4: color.adjust($yellow, $lightness: $interval * 4);
$yellow-dark-1: color.adjust($yellow, $lightness: -($interval * 1));
$yellow-dark-2: color.adjust($yellow, $lightness: -($interval * 2));
$yellow-dark-3: color.adjust($yellow, $lightness: -($interval * 3));
$yellow-dark-4: color.adjust($yellow, $lightness: -($interval * 4));
