@font-face {
  font-family: 'Geist';
  src: url('../fonts/Geist.ttf') format('truetype-variations');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Urbanist';
  src: url('../fonts/Urbanist.ttf') format('truetype-variations');
  font-weight: 100 900;
}

@font-face {
  font-family: 'Urbanist-Italic';
  src: url('../fonts/Urbanist-Italic.ttf') format('truetype-variations');
  font-weight: 100 900;
}
