@use "./variables" as *;
@use "sass:list";
@use "sass:map";

@mixin flex($direction: row, $x: flex-start, $y: flex-start) {
  display: flex;
  flex-direction: $direction;

  @if $direction == row or $direction == row-reverse {
    justify-content: $x;
    align-items: $y;
  } @else if $direction == column or $direction == column-reverse {
    justify-content: $y;
    align-items: $x;
  }
}

@mixin flex-center($direction: row) {
  @include flex($direction, center, center);
}

@mixin fill-parent {
  width: 100%;
  height: 100%;
}

@mixin text($size: "base") {
  $font-data: map.get($font-sizes, $size);
  font-size: list.nth($font-data, 1);
  line-height: list.nth($font-data, 2);
}

@mixin breakpoint($size) {
  $breakpoint: map.get($breakpoints, $size);
  @media (min-width: $breakpoint) {
    @content;
  }
}

@function z($key) {
  @return map.get($z-indexes, $key);
}

@mixin hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@mixin light-dark-property($property, $light-value, $dark-value) {
  .light & {
    #{$property}: #{$light-value};
  }
  .dark & {
    #{$property}: #{$dark-value};
  }
  .theme-transition-clone.light & {
    #{$property}: #{$light-value} !important;
  }
  .theme-transition-clone.dark & {
    #{$property}: #{$dark-value} !important;
  }
}

@mixin glow($color) {
  $blur: 161px;
  $spread: 16px;
  $opacity: 0.5;
  -webkit-box-shadow:0px 0px $blur $spread rgba($color, $opacity);
-moz-box-shadow: 0px 0px $blur $spread rgba($color, $opacity);
box-shadow: 0px 0px $blur $spread rgba($color, $opacity);
}