@use './variables' as *;
@use 'sass:list';
@use 'sass:map';

@mixin flex($direction: row, $x: flex-start, $y: flex-start) {
  display: flex;
  flex-direction: $direction;

  @if $direction == row or $direction == row-reverse {
    justify-content: $x;
    align-items: $y;
  } @else if $direction == column or $direction == column-reverse {
    justify-content: $y;
    align-items: $x;
  }
}

@mixin flex-center($direction: row) {
  @include flex($direction, center, center);
}

@mixin fill-parent {
  width: 100%;
  height: 100%;
}

@mixin text($size: 'base') {
  $font-data: map.get($font-sizes, $size);
  font-size: list.nth($font-data, 1);
  line-height: list.nth($font-data, 2);
}

@mixin breakpoint($size) {
  $breakpoint: map.get($breakpoints, $size);
  @media (min-width: $breakpoint) {
    @content;
  }
}

@function z($key) {
  @return map.get($z-indexes, $key);
}
