@use "./mixins" as *;

@font-face {
  font-family: "Geist";
  src: url("../fonts/Geist.ttf") format("truetype-variations");
  font-weight: 100 900;
}

body,
button {
  font-family: Geist, Arial, sans-serif;
  @include text("base");
}

button,
input,
textarea {
  font-family: Geist, Arial, sans-serif;
  font-weight: var(--font-normal);
  @include text("sm");
}

h1 {
  @include text("4xl");
  font-weight: var(--font-bold);
}

h2 {
  @include text("3xl");
  font-weight: var(--font-semibold);
}

h3 {
  @include text("2xl");
  font-weight: var(--font-semibold);
}

h4 {
  @include text("xl");
  font-weight: var(--font-semibold);
}

h5 {
  @include text("lg");
  font-weight: var(--font-semibold);
}

h6 {
  @include text("base");
  font-weight: var(--font-semibold);
}

p {
  @include text("base");
  font-weight: var(--font-medium);
}
