$header-height: 6rem;
$footer-height: 6rem;
$sidebar-width-expanded: 12rem;
$sidebar-width-collapsed: 5rem;

$main-border-radius: 1rem;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 2000px;

// Spacing
$sm-spacing: 0rem;
$md-spacing: 1.2rem;
$lg-spacing: 1.6rem;
$xl-spacing: 1.6rem;
$xxl-spacing: $xl-spacing;
$xxxl-spacing: $xl-spacing;
