$header-height: 6rem;
$footer-height: 6rem;

$main-border-radius: 1rem;

// Breakpoints
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 2000px;

// Spacing
$sm-spacing: 0rem;
$md-spacing: 0.8rem;
$lg-spacing: $md-spacing;
$xl-spacing: $md-spacing;
$xxl-spacing: $xl-spacing;
$xxxl-spacing: $xl-spacing;
