@use "./index" as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100dvh;
  font-weight: var(--font-medium);
  background-color: var(--background);
  color: var(--foreground);
}

html {
  overflow: hidden;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#app {
  display: flex;
  width: 100%;
  height: 100dvh;
}

.app-container {
  @include fill-parent;
  @include flex-center;
}

.app-content {
  @include fill-parent;
}

a:has(> .button) {
  @include flex-center;
  text-decoration: none;
}

.no-transition * {
  transition: none !important;
  --transition: none !important;
}

.debug-info {
  position: fixed;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  font-size: 12px;
  width: 380px;
  z-index: 5000;
  P {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
