@use './index' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: Urbanist, Arial, sans-serif;
  min-height: 100dvh;
  font-weight: 500;
  background: $white;
  color: $black;
}
