@use './index' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  min-height: 100dvh;
  font-weight: var(--font-medium);
  background-color: var(--background);
  color: var(--foreground);
}

html {
    &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#app {
  display: flex;
  height: 100svh;
  width: 100%;

  > .inner {
    @include fill-parent;
    gap: var(--spacing-1);
    border-radius: 0;
  }
}

.app-container {
  @include fill-parent;
  @include flex-center;
}

.app-content {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  height: 100%;
  overflow: hidden;
}

a:has(> .button) {
  @include flex-center;
  text-decoration: none;
}

.no-transition * {
  transition: none !important;
  --transition: none !important;
}
