@use './index' as *;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

body {
  font-family: Geist, Arial, sans-serif;
  min-height: 100dvh;
  font-weight: 500;
  background: $light-grey-1;
  color: $black;
}

#app {
  display: flex;
  height: 100svh;
  width: 100%;
  @include responsive-spacing;
}

#app-container {
  display: flex;
  flex-direction: column;
  flex: 1 1 0;
  height: 100%;
  overflow: hidden;
}

a:has(> .r-button) {
  @include flex-center;
  text-decoration: none;
}
