name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read
  packages: write

concurrency:
  group: build-push-${{ github.ref }}
  cancel-in-progress: true

jobs:
  lint:
    name: Lint
    uses: ./.github/workflows/lint.yml

  format:
    name: Format
    uses: ./.github/workflows/format.yml

  test:
    name: Test
    uses: ./.github/workflows/test.yml

  build:
    name: Build and Push
    needs:
      - lint
      - format
      - test
    uses: ./.github/workflows/build.yml

  deploy:
    name: Deploy
    needs:
      - build
    uses: ./.github/workflows/deploy.yml
    with:
      git_commit_hash: ${{ github.sha }}
    secrets:
      DEPLOY_SSH_KEY: ${{ secrets.DEPLOY_SSH_KEY }}
      DB_PASSWORD: ${{ secrets.DB_PASSWORD }}
      JWT_SECRET: ${{ secrets.JWT_SECRET }}
      JWT_REFRESH_SECRET: ${{ secrets.JWT_REFRESH_SECRET }}
      CLIENT_BASE_URL: ${{ secrets.CLIENT_BASE_URL }}
      SMTP_HOST: ${{ secrets.SMTP_HOST }}
      SMTP_PORT: ${{ secrets.SMTP_PORT }}
      SMTP_USER: ${{ secrets.SMTP_USER }}
      SMTP_PASS: ${{ secrets.SMTP_PASS }}
      SMTP_EMAIL: ${{ secrets.SMTP_EMAIL }}
      STORAGE_TYPE: ${{ secrets.STORAGE_TYPE }}
      BUCKET_ENDPOINT: ${{ secrets.BUCKET_ENDPOINT }}
      BUCKET_ACCESS_KEY_ID: ${{ secrets.BUCKET_ACCESS_KEY_ID }}
      BUCKET_SECRET_ACCESS_KEY: ${{ secrets.BUCKET_SECRET_ACCESS_KEY }}
      BUCKET_NAME: ${{ secrets.BUCKET_NAME }}
      BUCKET_REGION: ${{ secrets.BUCKET_REGION }}
      BUCKET_PUBLIC_URL: ${{ secrets.BUCKET_PUBLIC_URL }}
