@use "sass:color";
$interval: 10%;

$red: hsl(354, 62%, 53%);
$green: hsl(134, 61%, 40%);
$blue: hsl(211, 80%, 50%);
$yellow: hsl(45, 76%, 52%);

$white: hsl(0, 0%, 100%);
$black: hsl(0, 0%, 0%);
$grey: hsl(0, 0%, 50%);
$light-grey-1: hsl(0, 0%, 90%);
$light-grey-2: hsl(0, 0%, 80%);
$light-grey-3: hsl(0, 0%, 70%);
$light-grey-4: hsl(0, 0%, 60%);
$dark-grey-1: hsl(0, 0%, 4%);
$dark-grey-2: hsl(0, 0%, 8%);
$dark-grey-3: hsl(0, 0%, 12%);
$dark-grey-4: hsl(0, 0%, 16%);
$dark-grey-5: hsl(0, 0%, 20%);
$dark-grey-6: hsl(0, 0%, 24%);
$dark-grey-7: hsl(0, 0%, 28%);
$dark-grey-8: hsl(0, 0%, 32%);

$primary-light-1: color.adjust($primary, $lightness: $interval * 1);
$primary-light-2: color.adjust($primary, $lightness: $interval * 2);
$primary-light-3: color.adjust($primary, $lightness: $interval * 3);
$primary-light-4: color.adjust($primary, $lightness: $interval * 4);
$primary-dark-1: color.adjust($primary, $lightness: -($interval * 1));
$primary-dark-2: color.adjust($primary, $lightness: -($interval * 2));
$primary-dark-3: color.adjust($primary, $lightness: -($interval * 3));
$primary-dark-4: color.adjust($primary, $lightness: -($interval * 4));

$red-light-1: color.adjust($red, $lightness: $interval * 1);
$red-light-2: color.adjust($red, $lightness: $interval * 2);
$red-light-3: color.adjust($red, $lightness: $interval * 3);
$red-light-4: color.adjust($red, $lightness: $interval * 4);
$red-dark-1: color.adjust($red, $lightness: -($interval * 1));
$red-dark-2: color.adjust($red, $lightness: -($interval * 2));
$red-dark-3: color.adjust($red, $lightness: -($interval * 3));
$red-dark-4: color.adjust($red, $lightness: -($interval * 4));

$green-light-1: color.adjust($green, $lightness: $interval * 1);
$green-light-2: color.adjust($green, $lightness: $interval * 2);
$green-light-3: color.adjust($green, $lightness: $interval * 3);
$green-light-4: color.adjust($green, $lightness: $interval * 4);
$green-dark-1: color.adjust($green, $lightness: -($interval * 1));
$green-dark-2: color.adjust($green, $lightness: -($interval * 2));
$green-dark-3: color.adjust($green, $lightness: -($interval * 3));
$green-dark-4: color.adjust($green, $lightness: -($interval * 4));

$blue-light-1: color.adjust($blue, $lightness: $interval * 1);
$blue-light-2: color.adjust($blue, $lightness: $interval * 2);
$blue-light-3: color.adjust($blue, $lightness: $interval * 3);
$blue-light-4: color.adjust($blue, $lightness: $interval * 4);
$blue-dark-1: color.adjust($blue, $lightness: -($interval * 1));
$blue-dark-2: color.adjust($blue, $lightness: -($interval * 2));
$blue-dark-3: color.adjust($blue, $lightness: -($interval * 3));
$blue-dark-4: color.adjust($blue, $lightness: -($interval * 4));

$yellow-light-1: color.adjust($yellow, $lightness: $interval * 1);
$yellow-light-2: color.adjust($yellow, $lightness: $interval * 2);
$yellow-light-3: color.adjust($yellow, $lightness: $interval * 3);
$yellow-light-4: color.adjust($yellow, $lightness: $interval * 4);
$yellow-dark-1: color.adjust($yellow, $lightness: -($interval * 1));
$yellow-dark-2: color.adjust($yellow, $lightness: -($interval * 2));
$yellow-dark-3: color.adjust($yellow, $lightness: -($interval * 3));
$yellow-dark-4: color.adjust($yellow, $lightness: -($interval * 4));